:root {
	--next-width: calc(16vw + min(4rem, 1vw));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #333;
}

.app {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.snackbar__fab {
	transform: scale(0.6);
}

.MuiButton-outlinedPrimary {
	box-shadow: 0 0 3px #69f0ae55;
}
