.board {
	background: #333;
	width: 400px;
	height: 800px;
	max-width: 40vw;
	max-height: 80vw;
	margin: 6rem auto;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
	border: .5px solid #69f0ae99;
	border-radius: 5px;
	padding: 2px;
	position: relative;
}

.board__container,
.next__container {
	display: flex;
}

.next__container {
	justify-content: start;
	flex-direction: column;
	align-items: center;
	min-width: var(--next-width);
}

.next {
	display: grid;
	margin: 2rem min(2rem, .5vw);
}

.cell {
	position: relative;
	border: 1px solid #333;
}

.cell::before,
.cell::after {
	content: '';
	position: absolute;
	width: 5%;
	height: 140%;
	background: #333;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.cell::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.player__name.MuiTypography-h5,
.player__name.MuiTypography-h4 {
	font-size: min(2.5rem, 3vw);
	text-transform: uppercase;
	color: #69f0ae80;
}

.player__name.MuiTypography-h5 {
	margin: 1rem 0 0;
}

.player__name.MuiTypography-h4 {
	position: absolute;
	left: 50%;
	top: max(-4vw, -2.5rem);
	transform: translate(-50%, -50%);
}

.player__name.MuiTypography-h4 > .game__paused {
	top: 50%;
	font-size: .4em;
	position: absolute;
	transform: translate(25%, -50%);
}