.lobby__container,
.tetris__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lobby__container {
	flex-direction: column;
}

.lobby__container > .MuiButton-outlinedPrimary {
	margin: .75rem;
	transform: scale(1.3);
}